@media only screen and (max-width: 1000px) {
  .navbar{
     height: 300px;
      width: 400px;
      display: flex;
      flex-direction: column;
  }
  .logo{
      height: 70px;
  }
  .nav-items{
     /*  margin-top: -29px; */
      margin-top:  10px ;
  }
  .nav-items .nav2 ul{
      display: flex;
      flex-direction: column;
  }
  .nav-items .nav2 ul li{
      margin-left: 50px;
  }
  .nav-items{
      display: none;
  }
  #btn1{
      display: grid;
      grid-template-columns: auto auto;
  }
  .btn{
      margin-top: 10px;
      margin-left: 44px;
  }
  .fas{
      display: inherit;
      margin-left: 17rem;
      margin-top: 20px;
      font-size: 30px;
  }
  #logo{
      width: 50px;
      height: 50px;
      margin-top: 10px;
  }
  #logo_nav{
      margin-left:15px;
  }
  #logo_name{
      font-size: 22px;
      margin-left: -50px;
      margin-top: 9.4px;
  }
  .innerdiv {
     transform: scale(0.7);
  }
}

@media only screen and (max-width: 800px) {

  .innerdiv {
     transform: scale(0.6);
  }
}

@media only screen and (max-width: 600px) {
  .div1 {
     background-position-x: 10rem;

  }
  .eachdiv{
      animation: none;
      margin-top: 12px;
  }
  #home{
      margin-top:-14rem;
      margin-left: -1rem;
  }
  .home-items{
    width: 400px;
    padding-right: 10rem;
    padding-bottom: 5rem;
  }
  .home-items h1{
    width: 355px;
    text-align: center;
  }
  .home-items p{
    width: 380px;
    font-size: 19px;
      
